@model  Entity.Usuario

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Mi Red Social</title>
    <link rel="shortcut icon" href="~/Assets/favicon.ico" />

    <!-- META INFO -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Una Red Social Para Programadores" />
    <meta name="generator" content="Hermes CMS" />


    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Assets/css/style.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery.form.js"></script>
    <script src="~/Assets/js/ini.js"></script>

    <!-- Microsoft -->
    <script src="~/Assets/js/jquery.validate.min.js"></script>
    <script src="~/Assets/js/jquery.validate.unobtrusive.min.js"></script>

</head>
<body>

    <script>
        function base_url(url)
        {
            return '@(Url.Content("~/"))' + url;
        }
        function redirect(href) {
                window.location.href = '@(Url.Content("~/"))' + href;
        }
    </script>

    <div class="container">

        <div class="page-header">
            <h1>Mi Red Social</h1>
            <p>La primera red social para programadores.</p>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="well well-sm">
                    <h2>Ingresar</h2>
                    @using (Html.BeginForm("Acceder", "Login", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label>Correo</label>
                            @Html.TextBoxFor(model => model.Correo, new { @class = "form-control", placeholder = "Ingrese su correo", maxlength = 50 })
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            @Html.PasswordFor(model => model.Contrasena, new { @class = "form-control", placeholder = "Ingrese su contraseña", maxlength = 10 })
                        </div>
                        <button type="submit" class="btn btn-default" data-ajax="true">Ingresar</button>
                    }
                </div>
            </div>
            <div class="col-md-7">
                <div class="well well-sm">
                    <h2>Registrarme</h2>
                    @using (Html.BeginForm("Registrar", "Login", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label>Nombre</label>
                            @Html.ValidationMessageFor(model => model.Nombre)
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", placeholder = "Ingrese su nombre", maxlength = 20 })
                        </div>
                        <div class="form-group">
                            <label>Apellido</label>
                            @Html.ValidationMessageFor(model => model.Apellido)
                            @Html.TextBoxFor(model => model.Apellido, new { @class = "form-control", placeholder = "Ingrese su apellido", maxlength = 50 })
                        </div>
                        <div class="form-group">
                            <label>Correo</label>
                            @Html.ValidationMessageFor(model => model.Correo)
                            @Html.TextBoxFor(model => model.Correo, new { @class = "form-control", placeholder = "Ingrese su correo", maxlength = 50 })
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            @Html.ValidationMessageFor(model => model.Contrasena)
                            @Html.PasswordFor(model => model.Contrasena, new { @class = "form-control", placeholder = "Ingrese su contraseña", maxlength = 10 })
                        </div>
                        <button data-ajax="true" type="submit" class="btn btn-default">Registrar</button>
                    }
                </div>
            </div>       
        </div>
    </div>
    <hr />
    <div class="text-center">Desarrollado por <b><a href="http://www.microsoft.com" target="_blank">Anexsoft</a></b> a modo de enseñanza.</div>
</body>
</html>
